<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NodeJs Ass02</title>
    <link href="assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2> Welcome Home! </h2>
    <h3> Node.JS <a href="todo"> ToDo App </a> </h3>
</body>
</html>