<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="/assets/styles.scss" rel="stylesheets" type="text/css" />
</head>
<body>
  <div class="page-about">
    <form class="flexbox">
      <div class="inline">
        <label for="todo">Enter Task To Do</label>
        <input id="todo" type="text" name="todo" autofocus required />
      </div>

      <span *ngIf="checker()" class="inline">
        <button type="submit" (click)="addTask()">
          add
        </button>
      </span>
    </form>

    <div class="center">
      <ul class="flexbox">
        <li>
            <span class="inline" style="width: 50vw"> 
                item1
            </span>
            <button class="inline" (click)="dltTask(i)">
                del
            </button>
            <button class="inline" (click)="editTask(task,i)">
                edit
            </button>
        </li>
        <li>
            <span class="inline" style="width: 50vw"> 
                item2
            </span>
            <button class="inline" (click)="dltTask(i)">
                del
            </button>
            <button class="inline" (click)="editTask(task,i)">
                edit
            </button>
        </li><li>
            <span class="inline" style="width: 50vw"> 
                item3
            </span>
            <button class="inline" (click)="dltTask(i)">
                del
            </button>
            <button class="inline" (click)="editTask(task,i)">
                edit
            </button>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>