h1 {
    background-image: url(/assets/rxjs.png);
    text-align: center;
    width: 80%;
    margin: 5px auto;
}
.page {
    width: 80%;
    height: 90vh;
    margin: 5px auto;
    border: 1px solid rgba(163, 51, 200, 0.41);
    border-radius: 5px;
}
.flexbox {
    padding: 45px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
.inline {
    display: inline-block;
    margin-top: auto;
    flex: 1 1 auto;
}
.center {
    width: 90%;
    margin: 0 auto;
}
button {
    width: 50px;
    padding: 10px;
    text-align: center;
}
input {
    width: 70%;
    padding: 10px;
}
@media screen and (max-width: 544px) {
    .page-about {
        width: 100%;
        margin: auto;
    }
}
@media screen and (min-width: 544px){
    .page-about {
        width: 100%;
        margin: auto;
    }
 }
@media screen and (min-width: 768px){ 
    .page-about {
        width: 80%;
        margin: 5px auto;
    }
}
@media screen and (min-width: 992px){ 
   .page-about {
        width: 70%;
        margin: 5px auto;
    }
}
@media screen and (min-width: 1200px){
   .page-about {
        width: 60%;
        margin: 5px auto;
    }
 }

